<a href="https://colab.research.google.com/github/natnew/Python-Projects-Working-With-Timezones/blob/main/Datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import datetime

# Get the current date and time with different timezones

In [4]:
print('Get the current date and time with different timzones:')

datetime_object = datetime.datetime.now()
print(datetime_object)
print("Year: ", datetime_object.year)
print("Month: ", datetime_object.month)
print("Dat: ", datetime_object.day)
print("Hour: ", datetime_object.hour)
print("Minute: ", datetime_object.minute)
print("Second: ", datetime_object.second)
print("TimeZone info: ", datetime_object.tzinfo)

Get the current date and time with different timzones:
2021-10-01 18:35:50.096306
Year:  2021
Month:  10
Dat:  1
Hour:  18
Minute:  35
Second:  50
TimeZone info:  None

# Make it zone aware

In [6]:
datetime_object = datetime.datetime.now()


datetime_object = datetime_object.replace(tzinfo=datetime.timezone.utc)
print(datetime_object)
print("Year: ", datetime_object.year)
print("Month: ", datetime_object.month)
print("Dat: ", datetime_object.day)
print("Hour: ", datetime_object.hour)
print("Minute: ", datetime_object.minute)
print("Second: ", datetime_object.second)
print("TimeZone info: ", datetime_object.tzinfo)

2021-10-01 19:03:39.294239+00:00
Year:  2021
Month:  10
Dat:  1
Hour:  19
Minute:  3
Second:  39
TimeZone info:  UTC

# Python pytz

In [7]:
import pytz
# print(pytz.all_timezones_set)

new_timezone = pytz.timezone('Europe/Madrid')
datetime_object = datetime.datetime.now(tz=new_timezone)
# print(datetime_object)
print("Year: ", datetime_object.year)
print("Month: ", datetime_object.month)
print("Dat: ", datetime_object.day)
print("Hour: ", datetime_object.hour)
print("Minute: ", datetime_object.minute)
print("Second: ", datetime_object.second)
print("TimeZone info: ", datetime_object.tzinfo)
print(datetime_object.isoformat())

Year:  2021
Month:  10
Dat:  1
Hour:  21
Minute:  15
Second:  0
TimeZone info:  Europe/Madrid
2021-10-01T21:15:00.956426+02:00

In [ ]:
import pytz
# print(pytz.all_timezones_set)

new_timezone = pytz.timezone('Europe/Madrid')
datetime_object = datetime.datetime.now(tz=new_timezone)
# print(datetime_object)
print("Year: ", datetime_object.year)
print("Month: ", datetime_object.month)
print("Dat: ", datetime_object.day)
print("Hour: ", datetime_object.hour)
print("Minute: ", datetime_object.minute)
print("Second: ", datetime_object.second)
print("TimeZone info: ", datetime_object.tzinfo)
print(datetime_object.isoformat())

# Getting current date only

In [10]:
#In []:
day = datetime.date.today()
print(day)

2021-10-01

# Creating a date object for specific date

In [13]:
#In [ ]:
day = datetime.date(2020, 8, 23)
print(day)

2020-08-23

In [15]:
#In [ ]:
day = datetime.date(2010, 1, 19)
print(day)

2010-01-19

# Getting a date from a timestamp

In [17]:

timestamp = 1629516295
datetime_object = datetime.datetime.fromtimestamp(timestamp)
# We also know that Unix timestamps are in UTC so we might as well 
# add the timezone info to our object.
datetime_object = datetime_object.replace(tzinfo=datetime.timezone.utc)
print(datetime_object)
print("Year: ", datetime_object.year)
print("Month: ", datetime_object.month)
print("Dat: ", datetime_object.day)
print("Hour: ", datetime_object.hour)
print("Minute: ", datetime_object.minute)
print("Second: ", datetime_object.second)
print("TimeZone info: ", datetime_object.tzinfo)

2021-08-21 03:24:55+00:00
Year:  2021
Month:  8
Dat:  21
Hour:  3
Minute:  24
Second:  55
TimeZone info:  UTC

# Generating a timestamp from a datetime object

In [18]:

datetime_object = datetime.datetime.now()
print("Timestamp: ", datetime_object.timestamp())

Timestamp:  1633116597.226981

 Get the current timestamp

In [19]:
timestamp = 1633116597.226981
datetime_object = datetime.datetime.fromtimestamp(timestamp)
# We also know that Unix timestamps are in UTC so we might as well 
# add the timezone info to our object.
datetime_object = datetime_object.replace(tzinfo=datetime.timezone.utc)
print(datetime_object)
print("Year: ", datetime_object.year)
print("Month: ", datetime_object.month)
print("Dat: ", datetime_object.day)
print("Hour: ", datetime_object.hour)
print("Minute: ", datetime_object.minute)
print("Second: ", datetime_object.second)
print("TimeZone info: ", datetime_object.tzinfo)

2021-10-01 19:29:57.226981+00:00
Year:  2021
Month:  10
Dat:  1
Hour:  19
Minute:  29
Second:  57
TimeZone info:  UTC

# Python timedelta

Count the number of days between 24-07-2020 and 26-03-2021.

In [20]:
start_date = datetime.date(2020, 7, 24)
end_date = datetime.date(2021, 3, 26)

# We can simply just subtract these two objects and the result would be
# a timedelta object

timedelta = end_date - start_date
print(type(timedelta))
print("Day difference: ", timedelta.days)

<class 'datetime.timedelta'>
Day difference:  245

Represent difference between two dates or times

Count the number of days between 10-01-2010 and 10-01-2021.

In [21]:
start_date = datetime.date(2010, 1, 10)
end_date = datetime.date(2021, 1, 10)

# We can simply just subtract these two objects and the result would be
# a timedelta object

timedelta = end_date - start_date
print(type(timedelta))
print("Day difference: ", timedelta.days)

<class 'datetime.timedelta'>
Day difference:  4018

Estimate the date from today's date.

28 days from today

In [22]:
today = datetime.date.today()

timedelta_needed = datetime.timedelta(days=28)

result_date = today + timedelta_needed

print(result_date)

2021-10-29

10 days from today

In [23]:
today = datetime.date.today()

timedelta_needed = datetime.timedelta(days=10)

result_date = today + timedelta_needed

print(result_date)

2021-10-11

5 days from today

In [24]:
today = datetime.date.today()

timedelta_needed = datetime.timedelta(days=5)

result_date = today + timedelta_needed

print(result_date)

2021-10-06

# Python strftime()

Format dates

In [25]:
# current date and time
now = datetime.datetime.now(tz=pytz.timezone('UTC'))

t = now.strftime("%H:%M:%S")
print("time:", t)

s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
# mm/dd/YY H:M:S format
print("mm/dd/YY:", s1)

s2 = now.strftime("%d/%m/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
print("dd/mm/YY:", s2)

# Timezone
print("Timezone: ", now.strftime("%Z"))

# Weekday
print("Weekday: ", now.strftime("%A"))

# Abbreviated weekday
print("Abbreviated Weekday: ", now.strftime("%a"))


# Locale's appropriate date and time representation
print("Locale representation: ", now.strftime("%c"))

time: 20:02:08
mm/dd/YY: 10/01/2021, 20:02:08
dd/mm/YY: 01/10/2021, 20:02:08
Timezone:  UTC
Weekday:  Friday
Abbreviated Weekday:  Fri
Locale representation:  Fri Oct  1 20:02:08 2021

# Python strptime()

Converts a string into a datetime object

In [26]:
import datetime
datetime_string = '08/23/21 15:23:52'

datetime_object = datetime.datetime.strptime(datetime_string, '%m/%d/%y %H:%M:%S')
print(type(datetime_object))
print(datetime_object)

<class 'datetime.datetime'>
2021-08-23 15:23:52

In [27]:
datetime_string = '08/23/21 15:23:52'

date_object = datetime.datetime.strptime(datetime_string, '%m/%d/%y %H:%M:%S').date()

print(type(date_object))
print(date_object)

time_object = datetime.datetime.strptime(datetime_string, '%m/%d/%y %H:%M:%S').time()
print(type(time_object))
print(time_object)

# Notice below how the time representation has changed from the above example
# and that we now have a double colons. Observe how will we adjust the format
# of the strptime method so as to correctly parse the input string.
time_example = '15::23::26'
time_example_object = datetime.datetime.strptime(time_example, '%H::%M::%S')
print(type(time_example_object))
print(time_example_object)

<class 'datetime.date'>
2021-08-23
<class 'datetime.time'>
15:23:52
<class 'datetime.datetime'>
1900-01-01 15:23:26